.searchPage{
   text-align: center;
   padding: 2rem;
   margin: auto;
   margin-top: 2rem;
   margin-bottom: 2rem;
   width: 90%;
   background-color: aliceblue;
   color: black;
   min-height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.searchPage h1{
   text-transform: capitalize;
}
.search-container{
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   justify-content: center;
   padding: 1rem;
}